/**
 * Positioning Activity Solution (CSS)
 *
 * Note: In this activity, students will be creating these files from scratch.
 * This file is provided for you to guide your class after they finish the assignment.
 * Review this so you know exactly what you'll be showing your students
 **/

* {
  box-sizing: border-box; /*Declare Box*/
}

body {     /*Declare all the font properties*/
  font-size: 24px;
  line-height: 32px;
  color: orange;
  
}

#fixed {   /*Part left fixed to screen*/
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  margin: 0;
  text-align: center;
  background: #eee;
}

.wrapper {
  width: 600px;
  padding: 20px;
  margin: 0 auto;  /*Equal left and right space*/
}

h1 {      /*Heading*/
  margin-bottom: 20px; /*space between from below*/
  font-size: 36px;
  line-height: 45px;
}

p {
  margin-bottom: 20px; /*space between from below*/
  font-size: 18px;
  line-height: 10px;   /*space between line*/
}

#relative {
  position: relative;
  width: 500px;  /* width 600px is controlled by wrapper*/
  height: 200px;    /*Box size of relative*/ 
  padding: 20px;     /*space around content, now is 40px*/
  margin-bottom: 20px; /*space between from below*/
  text-align: center; /*Text center*/
  background: #eee;
}

#absolute {
  position: absolute;
  right: -30px;  /*move to right of relative*/
  bottom: 0;   /*move from bottom 0px*/
  width: 250px;  /*change width from wrapper*/
  padding: 20px;
  text-align: center;
  background: #999;
}
