/**
 * Float Layout Activity
 **/
  
* {                        /*applt to all*/
  box-sizing: border-box;  
  /*--width&height includes 
  content,padding,border but not margin--*/
  text-align: center;
  font-size: 24px;
}

body {
	line-height: 32px;  /*--space between paragraph--*/
	
}

header {
  padding: 20px;
  margin-bottom: 20px;
  background: #ccc;
  
}
/*--zone1--Give condition to three boxes*/ 
section {
	padding: 20px;
	margin-bottom: 20px;

}

#left {
	color:#fff;
	 background: #666;
	 float:left;    /*--float--*/
	
	 width:33.3%;

}

#middle {
	color:#fff;
	background-color: #888;
	float:left;      /*--float--*/
   
    width:33.3%;
    
  
}

#right {
	color:#fff;
	background-color: #666;
	float:left;        /*--float--*/
	
	width:33.3%;
	
}

/*--zone2 section id="full"-*/
#full {
	
	 width: 100%;  /*--Wholezone--*/
  overflow: auto;   /*--overflow--*/
  clear: both;         /*--clear--*/
  background: #eee;
	
}



aside{     
	background-color: #fff;
	padding: 20px;
	float:left;
	width:33%;
	height: 800px;

  margin-left: 30px;
  border: 1px solid orange;  /*--border--*/
	
}

#division {
	background-color: #6ea3da;
    padding: 20px;
    margin-top: 20px;

}

footer {
	background-color: #ccc;
	padding: 20px;
}
